 .u-section-1 {
  min-height: 699px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 179px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-size: 4.5rem;
  width: 446px;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 398px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 18px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-line-1 {
  left: auto;
  top: 17px;
  transform-origin: center top 0px;
  position: absolute;
  height: 380px;
  width: 3px;
  right: -1px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 398px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 18px;
}

.u-section-1 .u-text-3 {
  text-align: left;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px auto 0 calc(((100% - 1140px) / 2) + 167px);
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px calc(((100% - 1140px) / 2) + 167px) 40px auto;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-size: 4.5rem;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 764px;
  }

  .u-section-1 .u-text-1 {
    width: 525px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 328px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 328px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 96px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2) + 102px);
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 912px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -751px;
    margin-right: calc(((100% - 1140px) / 2) + 405px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-1 .u-line-1 {
    height: 603px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: -834px 0 60px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1063px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 2;
    min-height: 476px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 1;
    min-height: 305px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -42px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2) + 3px);
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 543px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
    min-height: 548px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 2;
    min-height: 573px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -10px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 8px;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 624px;
}

.u-section-2 .u-shape-1 {
  width: 904px;
  height: 452px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: "Archivo Black";
  font-size: 3rem;
  margin: -382px 95px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1138px;
  margin: 82px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  grid-gap: 30px 30px;
  min-height: 302px;
}

.u-section-2 .u-list-item-1 {
  background-image: linear-gradient(white, white);
}

.u-section-2 .u-container-layout-1 {
  padding: 19px 30px;
}

.u-section-2 .u-group-1 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  margin: 11px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 14px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 34px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: linear-gradient(white, white);
}

.u-section-2 .u-container-layout-3 {
  padding: 19px 30px;
}

.u-section-2 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  margin: 11px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  font-weight: 500;
  margin: 14px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 34px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: linear-gradient(white, white);
}

.u-section-2 .u-container-layout-5 {
  padding: 19px 30px;
}

.u-section-2 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  margin: 11px auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 3rem;
  font-weight: 500;
  margin: 14px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 34px auto 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: linear-gradient(white, white);
}

.u-section-2 .u-container-layout-7 {
  padding: 19px 30px;
}

.u-section-2 .u-group-4 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  margin: 11px auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-text-11 {
  font-size: 3rem;
  font-weight: 500;
  margin: 14px auto 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 34px auto 0 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 57px auto 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 346px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-text-11 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-2 .u-shape-1 {
    height: 220px;
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -174px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    height: 167px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -121px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1604px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 290px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-size: 9.375rem;
  line-height: 1;
  margin: 8px -16px 0;
}

.u-section-3 .u-list-1 {
  width: 1145px;
  margin: -150px -5px 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px);
  grid-gap: 10px 10px;
  min-height: 211px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 1px 25px;
}

.u-section-3 .u-text-3 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 10px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 1px 25px;
}

.u-section-3 .u-text-5 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 10px;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 1px 25px;
}

.u-section-3 .u-text-7 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 10px;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 1px 25px;
}

.u-section-3 .u-text-9 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 10px;
}

.u-section-3 .u-text-10 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 1px 25px;
}

.u-section-3 .u-text-11 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 10px;
}

.u-section-3 .u-text-12 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 1px 25px;
}

.u-section-3 .u-text-13 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 10px;
}

.u-section-3 .u-text-14 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-3 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-text-2 {
    font-size: 7.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: -128px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    margin-top: -6px;
    margin-bottom: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-3 .u-text-2 {
    font-size: 6rem;
  }

  .u-section-3 .u-list-1 {
    margin-top: -111px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 179px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-7 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-9 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-11 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-13 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-line-1 {
    margin-top: 25px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-3 .u-text-2 {
    font-size: 10.625rem;
  }

  .u-section-3 .u-list-1 {
    margin-top: -504px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 569px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-line-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 6.25rem;
    width: auto;
    margin-top: 145px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -445px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-text-13 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-line-1 {
    margin-top: 7px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 753px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 5px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: -7px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 12px 0;
}

.u-section-4 .u-image-1 {
  min-height: 329px;
  background-image: url("images/3d3e46fa2c69e42031e4cf332ae12f1051c46ce9128a759b645e793727608a1afe91c1c6038ce41fe504cc1b233ae1f92911dd597e45ddf8ee4170_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 329px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 23px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 315px;
  background-image: url("images/mathis_waut_70202158_139385657291175_1888646201246588723_n.jpg");
  background-position: 50% 29.55%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 315px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1393px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 309px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 324px;
  }

  .u-section-4 .u-image-2 {
    min-height: 309px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 649px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 0 14px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-image-1 {
  width: 320px;
  object-position: 50% 0%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
}

.u-section-5 .u-text-2 {
  text-align: left;
  margin: 23px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  text-align: left;
  margin: 14px 0 0;
}

.u-section-5 .u-text-4 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-5 .u-image-2 {
  min-height: 315px;
  background-image: url("images/8656fe035eefbfc85d75d7a325c92d3eefd7f80cd32911adc139679c8f9c4189426a8c44fc908b6714123f0b91358f6cf604d79f703a69de4958fd_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 375px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-1 {
    width: 361px;
    height: 361px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 12px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-5 .u-image-1 {
    width: 295px;
    height: 295px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    width: 304px;
    height: 294px;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 630px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 0 10px;
}

.u-section-6 .u-image-1 {
  min-height: 315px;
  background-image: url("images/Capture2.JPG");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
}

.u-section-6 .u-text-2 {
  text-align: left;
  margin: 23px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  text-align: left;
  margin: 14px 0 0;
}

.u-section-6 .u-text-4 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-6 .u-image-2 {
  min-height: 315px;
  background-image: url("images/favicon2.JPG");
  background-position: 50% 48.51%;
  background-size: 105%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 260px;
  }

  .u-section-6 .u-image-2 {
    background-size: auto 105%;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    background-size: 105%;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1360px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    min-height: 314px;
    background-size: auto 105%;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 725px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 0 10px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 315px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-image-1 {
  width: 542px;
  height: 131px;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
}

.u-section-7 .u-text-2 {
  text-align: left;
  margin: 23px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  text-align: left;
  margin: 14px 0 0;
}

.u-section-7 .u-text-4 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-7 .u-image-2 {
  min-height: 315px;
  background-image: url("images/usual-suspects-26-09-17-98-670x447.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 324px;
    background-position: 50% 50%;
  }

  .u-section-7 .u-image-1 {
    width: 461px;
    height: 112px;
    margin-top: 69px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-7 .u-image-1 {
    width: 355px;
    height: 86px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 14px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1486px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 82px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 700px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 0 10px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 315px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-8 .u-image-1 {
  width: 405px;
  height: 153px;
  margin: 58px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
}

.u-section-8 .u-text-2 {
  text-align: left;
  margin: 23px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-8 .u-text-3 {
  font-size: 1.5rem;
  text-align: left;
  margin: 14px 0 0;
}

.u-section-8 .u-text-4 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-8 .u-image-2 {
  min-height: 315px;
  background-image: url("images/7c9e9e77a2708a62b1d1ea10af35a9aecdf2b8d098217d7b6696c9d43d9664cc065c36448540ac6512e9ce6cca1a5c90b9c4296436a7bbb1ae7ae4_1280.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 375px;
    background-position: 50% 50%;
  }

  .u-section-8 .u-image-1 {
    margin-top: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-image-1 {
    width: 317px;
    height: 120px;
    margin-top: 116px;
    margin-left: -2px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 536px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1274px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 63px;
    margin-left: 97px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1465px;
  }

  .u-section-8 .u-image-1 {
    margin-left: 3px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1012px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 0 0 14px;
}

.u-section-9 .u-image-1 {
  min-height: 315px;
  background-image: url("images/carrefour-1-logo-png-transparent.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-9 .u-text-1 {
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
}

.u-section-9 .u-text-2 {
  text-align: left;
  margin: 23px 0 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-9 .u-text-3 {
  font-size: 1.5rem;
  text-align: left;
  margin: 14px 0 0;
}

.u-section-9 .u-text-4 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-image-2 {
  min-height: 484px;
  background-image: url("images/60b860f55531e0.36454915.png");
  background-position: 0% 50%;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    background-position: 97.28% 48.38%;
    background-size: auto 225%;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 260px;
  }

  .u-section-9 .u-image-2 {
    background-position: 8.9% 50%;
    min-height: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-image-1 {
    background-position: 91.79% 50.71%;
    background-size: auto 200%;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-image-2 {
    background-position: 7.14% 50%;
    min-height: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1667px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    background-position: 96.65% 49.77%;
    background-size: 310%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    min-height: 459px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-9 .u-image-1 {
    background-position: 92.79% 49.99%;
    background-size: 365%;
  }

  .u-section-9 .u-image-2 {
    min-height: 289px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 114px;
}

.u-section-10 .u-line-1 {
  width: 150px;
  height: 3px;
  margin: 1px auto 0;
}

.u-section-10 .u-text-1 {
  width: 785px;
  margin: 20px auto 0;
}

.u-section-10 .u-line-2 {
  width: 150px;
  height: 6px;
  transform-origin: center top 0px;
  margin: 20px auto 28px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-10 .u-line-2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 98px;
  }

  .u-section-10 .u-text-1 {
    width: 340px;
  }
}